<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<style>
    /* Styles included inline since you'll probably be deleting this page anyway */
   

</style>

    <div>
        <h2 class="" style="margin-top:250px; margin-left:45%;">Sing In</h2>
       <form style="margin-left: 35%;" method="post" action="/api/loginAdmin" accept-charset="UTF-8" class="">
       <table class="col-md-5">
        <tr>
            <td>
                <input required style="margin-bottom: 15px;" placeholder="Email" id="email" name="email" class="form-control" type="email">
                <input required style="margin-bottom: 15px;" placeholder="Password" id="password" name="password" class="form-control" type="password">
            </td>
            <tr><td>
                <input class="btn btn-primary btn-block" id="sign-in" value="Sign In" type="submit">
            </td></tr>
        </tr>
    </table>
     </form>
    </div>

